

.container {
  padding: 20px;
}


.container {
  margin: 0 auto;
  max-width: 400px; 
}
.container {
    text-align: center;
  }
  
  .container button {
    margin-right: 10px; /* Ajoutez la marge que vous souhaitez entre les boutons */
  }